.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environment
.venv/

# Sphinx
docs/_build/
*.rst
!build/index.rst

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
data/
*.csv
*.db
*.sql

# Metabase
metabase
